<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>

    <div class="Main-content">

        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p>This site was created by Udayan Khetan.It uses data from mapbox.com and geocode.net</p>
        <img class="portrait" src="/img/tree.jpg">
        {{!-- <p>created by {{name}}</p> --}}
    </div>

    {{>footer}}
</body>

</html>